<!--div *ngIf="seznam">

    <h3>{{seznam.naziv}}</h3>

    <p>{{seznam.opis}}</p>
    <p>Ustvarjen: {{seznam.ustvarjen | date: 'dd. MM. yyyy'}}</p>

    <ul *ngFor="let artikel of seznam.artikli" class="artikli">
        <li><b>{{artikel.naziv}}</b> <span *ngIf="artikel.opis"> &#8211; {{artikel.opis}}</span></li>
    </ul>

    <br>
    <button (click)="dodajArtikel()">Dodaj artikel</button>
    <button (click)="nazaj()">Nazaj</button>
</div>-->
<div *ngIf="destinacija">
    <!--<h3>{{destinacija.title}}</h3>
    <p>{{destinacija.description}}</p>-->
    <div class="destination-container">
        <h2>{{ destinacija.title }}</h2>
      
        <div class="destination-info">
          <p>{{ destinacija.description }}</p>
          <p>Lokacija: {{ destinacija.location }}</p>
          <p>Dostopnost: {{ destinacija.accessibility }}</p>
          <p>Infrastruktura: {{ destinacija.infrastructure }}</p>
          <!--<p>Cena: {{ destinacija.price | currency: 'EUR' }}</p>-->
        </div>
        <button *ngIf="isLoggedIn" type="button" class="btn btn-primary" (click)="toggleVisited()">
            {{ this.visited? 'Remove Visit' : 'Mark as Visited' }}
        </button>
    </div>
    
      
    <!--<div *ngIf="komentarji">
        <span>Ocena: {{ocena}}</span>
    </div>-->

    
    <!--<ul *ngIf="komentarji">
        <li *ngFor="let komentar of komentarji">
            <div>Posted by: {{komentar.user_id}}, on {{komentar.ustvarjen}}</div>
            <div>{{komentar.komentar}}</div>
        </li>
    </ul>-->
    <app-comment-list [destinacija]="destinacija" [onProfilePage]="false"></app-comment-list>
</div>

