<!--<nav class="navbar">
    <div class="logo">Katalog Destinacij</div>
    <ul class="nav-list">
      <li><a routerLink="/search">Search</a></li>
      <li><a routerLink="/login">Login</a></li>
    </ul>
</nav>-->
  
<nav class="navbar">
  <div class="navbar-left">
    <span class="navbar-title">Katalog Destinacij</span>
  </div>
  <div class="navbar-right">
    <ul>
      <li *ngIf="isLoggedIn"><a (click)="naPriporocila()">Priporočila</a></li>
      <li><a routerLink="/destinacije">Destinacije</a></li>
      <li><a routerLink="/search">Iskanje</a></li>
      <li *ngIf="isLoggedIn"><a (click)="naProfil()">Profil</a></li>
      <li *ngIf="!isLoggedIn"><a routerLink="/login">Prijava</a></li>
      <li *ngIf="isLoggedIn"><a (click)="logout()">Odjava</a></li>
    </ul>
  </div>
</nav>
